extends ./layout/index

block contenido
    main.container.mt-5 
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem aspernatur, alias voluptas, ab nesciunt voluptatum sequi maxime eum, facere vel repellat sunt. Saepe officia quisquam ratione repudiandae cum autem illum eius quia reprehenderit architecto, repellat aspernatur fuga quo provident at neque deleniti quam consequatur ducimus repellendus! Doloremque repellat asperiores facere!

                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum quis, laudantium incidunt aut architecto provident explicabo impedit non illum repellendus praesentium officiis reiciendis ullam dolores minus quasi, inventore pariatur unde aliquam in quisquam ratione suscipit ipsam consequuntur. Provident, quo natus.

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde facilis incidunt quos iste debitis minus eos vero? Atque neque necessitatibus libero unde amet dolores sit, molestiae magnam sequi temporibus delectus. Iste omnis aliquid delectus facere reiciendis? Voluptatem, porro!
    
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="Icono seguridad", class="img-fluid mb-4")
                    h2.m2-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, tempora.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="Icono destinos", class="img-fluid mb-4")
                    h2.m2-4 Destinos
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, tempora.

                .col-md-4
                    img(src="img/icono_precio.svg", alt="Icono precio", class="img-fluid mb-4")
                    h2.m2-4 Precios
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, tempora.